<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Unsub!</title>
</head>
<body>

<p>
    Hi and welcome to your new Unsub demo account!
</p><p>
    If you haven't seen them yet, we recommend our <a href="https://vimeo.com/420183913">guided tour video</a> of the tool,
    <a href="https://docs.unsub.org/">Unsub documentation</a>,
    and the <a href="https://groups.google.com/g/unsub-discuss">user discussion</a> and <a href="https://groups.google.com/g/unsub-announce">announcements</a> lists.
</p><p>
    Have fun kicking the tires, and let us know if you have any questions or feedback!
</p>
<p>
    Best,<br/>
    Unsub Team
</p>

</body>
</html>

