<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Unsub!</title>
</head>
<body>

<p>
    Hi and welcome to your new Unsub demo account!
</p><p>
    If you haven't seen them yet, we recommend our <a href="https://vimeo.com/420183913">guided tour video</a> of the tool,
    <a href="https://intercom.help/get-unsub/en">FAQs</a>,
    and new <a href="https://groups.google.com/forum/#!forum/unsub-discuss">user discussion</a> list.
</p><p>
    Have fun kicking the tires, and let us know if you have any questions or feedback!
</p>
<p>
    Best,<br/>
    Jason, Heather, and Richard
</p>

</body>
</html>

