<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Unsub!</title>
</head>
<body>

<p>
    Hello!
</p>
<p>
    Someone
    {% if data.institution_name is not none %}
        at the organization {{ data.institution_name }}
    {% endif %}
    has created an account for you on Unsub. Here is your account login information:
</p>
<p>
    <strong>email</strong>: {{ data.email }}<br/>
    <strong>temporary password</strong>: {{ data.password }} (we recommend you change this after logging in)
</p><p>
    If you haven't seen them yet, we recommend our <a href="https://vimeo.com/420183913">guided tour video</a> of the tool,
    <a href="https://intercom.help/get-unsub/en">FAQs</a>,
    and new <a href="https://groups.google.com/forum/#!forum/unsub-discuss">user discussion</a> list.
</p><p>
    Please don’t hesitate to get touch if you have any questions about your new account.
</p><p>

    Best,<br/>
    Unsub Team
</p>

</body>
</html>

